{# Component-specific grammar template #}
// Generated grammar for MF6 {{ component|upper }} component
%import "base.lark"

start: [WS] [_NL*] (block [[WS] _NL*])+ [WS]
block: {% for block_name in blocks.keys() %}{{ block_name }}_block{% if not loop.last %} | {% endif %}{% endfor %}

{% for block_name, block in blocks.items() -%}
{{ block_name }}_block: "begin"i "{{ block_name }}" [_block_index] _NL {{ block_name }}_content "end"i "{{ block_name }}" [_block_index] _NL+
{% if block.type == 'recarray' -%}
{% if block.structure and block.structure.regular -%}
{{ block_name }}_content: {{ block_name }}_row*
{{ block_name }}_row: [WS] {% for field in block.values() %}{{ field.type }}{% if not loop.last %} {% endif %}{% endfor %} _NL+
{% else -%}
{{ block_name }}_content: recarray_line*
{% endif -%}
{% else -%}
{{ block_name }}_content: ({% for field in block.values() %}{{ field.name }}{% if not loop.last %} | {% endif %}{% endfor %})*
{% endif -%}
{% endfor %}
{% for field_name, field in fields.items() -%}
{% if field.type == 'keyword' -%}
{{ field_name }}: [WS] "{{ field_name }}" _NL+
{% elif field.type in ['integer', 'double precision'] -%}
{{ field_name }}: [WS] "{{ field_name }}" NUMBER _NL+
{% elif field.type == 'string' -%}
{{ field_name }}: [WS] "{{ field_name }}" word _NL+
{% elif field.shape is not none -%}
{{ field_name }}: [WS] "{{ field_name }}" array_format _NL+ array_data
{% elif field.type == 'record' -%}
{{ field_name }}: [WS] "{{ field_name }}" {% for field_name in field.fields.keys() %}{% set field = field.fields[field_name] %}{% if field.type in ['integer', 'double precision'] %}NUMBER{% elif field.type == 'string' %}word{% else %}word{% endif %}{% if not loop.last %} {% endif %}{% endfor %} _NL+
{% else -%}
{{ field_name }}: [WS] "{{ field_name }}" word* _NL+
{% endif -%}
{% endfor %}